.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */

/* .d {
  /* Add your desired styles here */
  /* For example: */
  /* display: flex;
  justify-content: flex-end;
} */ */




.d{
  background-color: yellow;
  box-sizing: border-box;
  /* width: 48%; */
  border: 5px solid green;
  float: left;

}

.p{
  background-color: yellow;
  box-sizing: border-box;
  /* width: 50%; */
  border: 5px solid green;
  float: right;

}
/* .p{
  padding-left: 1700px;

  

} */

.container {
  position: relative;
}

.heading {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px; /* adjust the left position as needed */
}

.button {
  float: right;
  /* additional styling if necessary */
}




/* App.css */

/* .team-page {
  display: flex;
  flex-direction: column;
} */

/* .team-management {
  display: flex;
  /* justify-content: flex-start; */
  /* float: left ;
  align-items: center;
  padding: 10px;
  width:  50%;
  background-color: #430df4;
}

.add-team {
  display: flex; */
  /* justify-content: flex-end; */
  /* padding: 10px;
  width:  50%;
  float:right ;
} */

/* .add-team button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
} */

